ipex-llm==2.1.0b20240711 
gradio 
streamlit
openai
zhipuai
numpy
python-dotenv
torch
torchvision
torchaudio
transformers
tqdm
PyPDF2
markdown
html2text
tiktoken
beautifulsoup4
sentencepiece
modelscope
PyMuPDF 
llama-index-vector-stores-chroma 
llama-index-readers-file 
llama-index-embeddings-huggingface 
llama-index